section.way {
  padding-top: 200px;
}

section.way .row {
  position: relative;
  height: 100px;
  background-color: gray;
}

section.way .row .car {
  color: #10346b;
  font-size: 60px;
  position: absolute;
  -webkit-animation-name: move;
          animation-name: move;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

section.way .row .car2 {
  color: #10346b;
  font-size: 60px;
  position: absolute;
  left: 50%;
  opacity: 0;
  -webkit-animation-name: move2;
          animation-name: move2;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

section.way .row .ligts {
  background-color: #000;
  position: absolute;
  left: 60%;
  top: -100px;
  border-radius: 10px;
}

section.way .row .ligts .red {
  height: 20px;
  width: 20px;
  margin: 5px;
  border-radius: 50%;
  -webkit-animation-name: stop;
          animation-name: stop;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

section.way .row .ligts .yellow {
  height: 20px;
  width: 20px;
  margin: 5px;
  border-radius: 50%;
  -webkit-animation-name: ready;
          animation-name: ready;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

section.way .row .ligts .green {
  height: 20px;
  width: 20px;
  margin: 5px;
  border-radius: 50%;
  -webkit-animation-name: go;
          animation-name: go;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes move {
  0% {
    left: 0;
  }
  5% {
    left: 5%;
  }
  10% {
    left: 10%;
  }
  15% {
    left: 15%;
  }
  20% {
    left: 20%;
  }
  25% {
    left: 25%;
  }
  30% {
    left: 30%;
  }
  35% {
    left: 35%;
  }
  40% {
    left: 40%;
  }
  45% {
    left: 45%;
  }
  50% {
    left: 50%;
  }
  55% {
    left: 50%;
  }
  60% {
    left: 50%;
  }
  65% {
    left: 50%;
  }
  70% {
    left: 50%;
  }
  75% {
    left: 50%;
  }
  80% {
    left: 50%;
  }
  85% {
    left: 50%;
  }
  90% {
    left: 50%;
  }
  95% {
    left: 50%;
    opacity: 1;
  }
  100% {
    left: 50%;
    opacity: 0;
  }
}

@keyframes move {
  0% {
    left: 0;
  }
  5% {
    left: 5%;
  }
  10% {
    left: 10%;
  }
  15% {
    left: 15%;
  }
  20% {
    left: 20%;
  }
  25% {
    left: 25%;
  }
  30% {
    left: 30%;
  }
  35% {
    left: 35%;
  }
  40% {
    left: 40%;
  }
  45% {
    left: 45%;
  }
  50% {
    left: 50%;
  }
  55% {
    left: 50%;
  }
  60% {
    left: 50%;
  }
  65% {
    left: 50%;
  }
  70% {
    left: 50%;
  }
  75% {
    left: 50%;
  }
  80% {
    left: 50%;
  }
  85% {
    left: 50%;
  }
  90% {
    left: 50%;
  }
  95% {
    left: 50%;
    opacity: 1;
  }
  100% {
    left: 50%;
    opacity: 0;
  }
}

@-webkit-keyframes move2 {
  0% {
    left: 50%;
  }
  5% {
    left: 50%;
  }
  10% {
    left: 50%;
  }
  15% {
    left: 50%;
  }
  20% {
    left: 50%;
  }
  25% {
    left: 50%;
  }
  30% {
    left: 50%;
  }
  35% {
    left: 50%;
  }
  40% {
    left: 50%;
  }
  45% {
    left: 50%;
    opacity: 1;
  }
  50% {
    left: 50%;
  }
  55% {
    left: 55%;
  }
  60% {
    left: 60%;
  }
  65% {
    left: 65%;
  }
  70% {
    left: 70%;
  }
  75% {
    left: 75%;
  }
  80% {
    left: 80%;
  }
  85% {
    left: 85%;
  }
  90% {
    left: 90%;
  }
  95% {
    left: 95%;
  }
  100% {
    left: 100%;
    opacity: 1;
  }
}

@keyframes move2 {
  0% {
    left: 50%;
  }
  5% {
    left: 50%;
  }
  10% {
    left: 50%;
  }
  15% {
    left: 50%;
  }
  20% {
    left: 50%;
  }
  25% {
    left: 50%;
  }
  30% {
    left: 50%;
  }
  35% {
    left: 50%;
  }
  40% {
    left: 50%;
  }
  45% {
    left: 50%;
    opacity: 1;
  }
  50% {
    left: 50%;
  }
  55% {
    left: 55%;
  }
  60% {
    left: 60%;
  }
  65% {
    left: 65%;
  }
  70% {
    left: 70%;
  }
  75% {
    left: 75%;
  }
  80% {
    left: 80%;
  }
  85% {
    left: 85%;
  }
  90% {
    left: 90%;
  }
  95% {
    left: 95%;
  }
  100% {
    left: 100%;
    opacity: 1;
  }
}

@-webkit-keyframes stop {
  0% {
    background-color: #ff000080;
    -webkit-box-shadow: 0px 0px 0px 0px red;
            box-shadow: 0px 0px 0px 0px red;
  }
  10% {
    background-color: #ff000080;
    -webkit-box-shadow: 0px 0px 0px 0px red;
            box-shadow: 0px 0px 0px 0px red;
  }
  20% {
    background-color: #ff000080;
    -webkit-box-shadow: 0px 0px 0px 0px red;
            box-shadow: 0px 0px 0px 0px red;
  }
  30% {
    background-color: #ff000080;
    -webkit-box-shadow: 0px 0px 0px 0px red;
            box-shadow: 0px 0px 0px 0px red;
  }
  40% {
    background-color: #ff000080;
    -webkit-box-shadow: 0px 0px 0px 0px red;
            box-shadow: 0px 0px 0px 0px red;
  }
  50% {
    background-color: #ff000080;
    -webkit-box-shadow: 0px 0px 0px 0px red;
            box-shadow: 0px 0px 0px 0px red;
  }
  60% {
    background-color: red;
    -webkit-box-shadow: 0px 0px 29px 14px red;
    box-shadow: 0px 0px 29px 14px red;
  }
  70% {
    background-color: red;
    -webkit-box-shadow: 0px 0px 29px 14px red;
    box-shadow: 0px 0px 29px 14px red;
  }
  80% {
    background-color: red;
    -webkit-box-shadow: 0px 0px 29px 14px red;
    box-shadow: 0px 0px 29px 14px red;
  }
  90% {
    background-color: red;
    -webkit-box-shadow: 0px 0px 29px 14px red;
    box-shadow: 0px 0px 29px 14px red;
  }
  100% {
    background-color: red;
    -webkit-box-shadow: 0px 0px 29px 14px red;
    box-shadow: 0px 0px 29px 14px red;
  }
}

@keyframes stop {
  0% {
    background-color: #ff000080;
    -webkit-box-shadow: 0px 0px 0px 0px red;
            box-shadow: 0px 0px 0px 0px red;
  }
  10% {
    background-color: #ff000080;
    -webkit-box-shadow: 0px 0px 0px 0px red;
            box-shadow: 0px 0px 0px 0px red;
  }
  20% {
    background-color: #ff000080;
    -webkit-box-shadow: 0px 0px 0px 0px red;
            box-shadow: 0px 0px 0px 0px red;
  }
  30% {
    background-color: #ff000080;
    -webkit-box-shadow: 0px 0px 0px 0px red;
            box-shadow: 0px 0px 0px 0px red;
  }
  40% {
    background-color: #ff000080;
    -webkit-box-shadow: 0px 0px 0px 0px red;
            box-shadow: 0px 0px 0px 0px red;
  }
  50% {
    background-color: #ff000080;
    -webkit-box-shadow: 0px 0px 0px 0px red;
            box-shadow: 0px 0px 0px 0px red;
  }
  60% {
    background-color: red;
    -webkit-box-shadow: 0px 0px 29px 14px red;
    box-shadow: 0px 0px 29px 14px red;
  }
  70% {
    background-color: red;
    -webkit-box-shadow: 0px 0px 29px 14px red;
    box-shadow: 0px 0px 29px 14px red;
  }
  80% {
    background-color: red;
    -webkit-box-shadow: 0px 0px 29px 14px red;
    box-shadow: 0px 0px 29px 14px red;
  }
  90% {
    background-color: red;
    -webkit-box-shadow: 0px 0px 29px 14px red;
    box-shadow: 0px 0px 29px 14px red;
  }
  100% {
    background-color: red;
    -webkit-box-shadow: 0px 0px 29px 14px red;
    box-shadow: 0px 0px 29px 14px red;
  }
}

@-webkit-keyframes ready {
  0% {
    background-color: #ffff0080;
    -webkit-box-shadow: 0px 0px 0px 0px yellow;
            box-shadow: 0px 0px 0px 0px yellow;
  }
  10% {
    background-color: #ffff0080;
    -webkit-box-shadow: 0px 0px 0px 0px yellow;
            box-shadow: 0px 0px 0px 0px yellow;
  }
  20% {
    background-color: #ffff0080;
    -webkit-box-shadow: 0px 0px 0px 0px yellow;
            box-shadow: 0px 0px 0px 0px yellow;
  }
  30% {
    background-color: #ffff0080;
    -webkit-box-shadow: 0px 0px 0px 0px yellow;
            box-shadow: 0px 0px 0px 0px yellow;
  }
  40% {
    background-color: #ffff0080;
    -webkit-box-shadow: 0px 0px 0px 0px yellow;
            box-shadow: 0px 0px 0px 0px yellow;
  }
  50% {
    background-color: #ffff00;
    -webkit-box-shadow: 0px 0px 29px 14px yellow;
    box-shadow: 0px 0px 29px 14px yellow;
  }
  60% {
    background-color: #ffff0080;
    -webkit-box-shadow: 0px 0px 0px 0px yellow;
            box-shadow: 0px 0px 0px 0px yellow;
  }
  70% {
    background-color: #ffff0080;
    -webkit-box-shadow: 0px 0px 0px 0px yellow;
            box-shadow: 0px 0px 0px 0px yellow;
  }
  80% {
    background-color: #ffff0080;
    -webkit-box-shadow: 0px 0px 0px 0px yellow;
            box-shadow: 0px 0px 0px 0px yellow;
  }
  90% {
    background-color: #ffff0080;
    -webkit-box-shadow: 0px 0px 0px 0px yellow;
            box-shadow: 0px 0px 0px 0px yellow;
  }
  100% {
    background-color: #ffff0080;
    -webkit-box-shadow: 0px 0px 0px 0px yellow;
            box-shadow: 0px 0px 0px 0px yellow;
  }
}

@keyframes ready {
  0% {
    background-color: #ffff0080;
    -webkit-box-shadow: 0px 0px 0px 0px yellow;
            box-shadow: 0px 0px 0px 0px yellow;
  }
  10% {
    background-color: #ffff0080;
    -webkit-box-shadow: 0px 0px 0px 0px yellow;
            box-shadow: 0px 0px 0px 0px yellow;
  }
  20% {
    background-color: #ffff0080;
    -webkit-box-shadow: 0px 0px 0px 0px yellow;
            box-shadow: 0px 0px 0px 0px yellow;
  }
  30% {
    background-color: #ffff0080;
    -webkit-box-shadow: 0px 0px 0px 0px yellow;
            box-shadow: 0px 0px 0px 0px yellow;
  }
  40% {
    background-color: #ffff0080;
    -webkit-box-shadow: 0px 0px 0px 0px yellow;
            box-shadow: 0px 0px 0px 0px yellow;
  }
  50% {
    background-color: #ffff00;
    -webkit-box-shadow: 0px 0px 29px 14px yellow;
    box-shadow: 0px 0px 29px 14px yellow;
  }
  60% {
    background-color: #ffff0080;
    -webkit-box-shadow: 0px 0px 0px 0px yellow;
            box-shadow: 0px 0px 0px 0px yellow;
  }
  70% {
    background-color: #ffff0080;
    -webkit-box-shadow: 0px 0px 0px 0px yellow;
            box-shadow: 0px 0px 0px 0px yellow;
  }
  80% {
    background-color: #ffff0080;
    -webkit-box-shadow: 0px 0px 0px 0px yellow;
            box-shadow: 0px 0px 0px 0px yellow;
  }
  90% {
    background-color: #ffff0080;
    -webkit-box-shadow: 0px 0px 0px 0px yellow;
            box-shadow: 0px 0px 0px 0px yellow;
  }
  100% {
    background-color: #ffff0080;
    -webkit-box-shadow: 0px 0px 0px 0px yellow;
            box-shadow: 0px 0px 0px 0px yellow;
  }
}

@-webkit-keyframes go {
  0% {
    background-color: #008d00;
    -webkit-box-shadow: 0px 0px 29px 14px #008d00;
    box-shadow: 0px 0px 29px 14px #008d00;
  }
  10% {
    background-color: #008d00;
    -webkit-box-shadow: 0px 0px 29px 14px #008d00;
    box-shadow: 0px 0px 29px 14px #008d00;
  }
  20% {
    background-color: #008d00;
    -webkit-box-shadow: 0px 0px 29px 14px #008d00;
    box-shadow: 0px 0px 29px 14px #008d00;
  }
  30% {
    background-color: #008d00;
    -webkit-box-shadow: 0px 0px 29px 14px #008d00;
    box-shadow: 0px 0px 29px 14px #008d00;
  }
  40% {
    background-color: #008d00;
    -webkit-box-shadow: 0px 0px 29px 14px #008d00;
    box-shadow: 0px 0px 29px 14px #008d00;
  }
  50% {
    background-color: #00800080;
    -webkit-box-shadow: 0px 0px 0px 0px #008d00;
            box-shadow: 0px 0px 0px 0px #008d00;
  }
  60% {
    background-color: #00800080;
    -webkit-box-shadow: 0px 0px 0px 0px #008d00;
            box-shadow: 0px 0px 0px 0px #008d00;
  }
  70% {
    background-color: #00800080;
    -webkit-box-shadow: 0px 0px 0px 0px #008d00;
            box-shadow: 0px 0px 0px 0px #008d00;
  }
  80% {
    background-color: #00800080;
    -webkit-box-shadow: 0px 0px 0px 0px #008d00;
            box-shadow: 0px 0px 0px 0px #008d00;
  }
  90% {
    background-color: #00800080;
    -webkit-box-shadow: 0px 0px 0px 0px #008d00;
            box-shadow: 0px 0px 0px 0px #008d00;
  }
  100% {
    background-color: #00800080;
    -webkit-box-shadow: 0px 0px 0px 0px #008d00;
            box-shadow: 0px 0px 0px 0px #008d00;
  }
}

@keyframes go {
  0% {
    background-color: #008d00;
    -webkit-box-shadow: 0px 0px 29px 14px #008d00;
    box-shadow: 0px 0px 29px 14px #008d00;
  }
  10% {
    background-color: #008d00;
    -webkit-box-shadow: 0px 0px 29px 14px #008d00;
    box-shadow: 0px 0px 29px 14px #008d00;
  }
  20% {
    background-color: #008d00;
    -webkit-box-shadow: 0px 0px 29px 14px #008d00;
    box-shadow: 0px 0px 29px 14px #008d00;
  }
  30% {
    background-color: #008d00;
    -webkit-box-shadow: 0px 0px 29px 14px #008d00;
    box-shadow: 0px 0px 29px 14px #008d00;
  }
  40% {
    background-color: #008d00;
    -webkit-box-shadow: 0px 0px 29px 14px #008d00;
    box-shadow: 0px 0px 29px 14px #008d00;
  }
  50% {
    background-color: #00800080;
    -webkit-box-shadow: 0px 0px 0px 0px #008d00;
            box-shadow: 0px 0px 0px 0px #008d00;
  }
  60% {
    background-color: #00800080;
    -webkit-box-shadow: 0px 0px 0px 0px #008d00;
            box-shadow: 0px 0px 0px 0px #008d00;
  }
  70% {
    background-color: #00800080;
    -webkit-box-shadow: 0px 0px 0px 0px #008d00;
            box-shadow: 0px 0px 0px 0px #008d00;
  }
  80% {
    background-color: #00800080;
    -webkit-box-shadow: 0px 0px 0px 0px #008d00;
            box-shadow: 0px 0px 0px 0px #008d00;
  }
  90% {
    background-color: #00800080;
    -webkit-box-shadow: 0px 0px 0px 0px #008d00;
            box-shadow: 0px 0px 0px 0px #008d00;
  }
  100% {
    background-color: #00800080;
    -webkit-box-shadow: 0px 0px 0px 0px #008d00;
            box-shadow: 0px 0px 0px 0px #008d00;
  }
}
/*# sourceMappingURL=style.css.map */