section.way{
    padding-top:200px;
    .row{
        position: relative;
        height: 100px;
        background-color: gray;
        .car{
            color: #10346b;
            font-size: 60px;
            position: absolute;
            animation-name: move;
            animation-duration: 10s;
            animation-fill-mode: forwards;
        }
        .car2{
            color: #10346b;
            font-size: 60px;
            position: absolute;
            left: 50%;
            opacity:0;
            animation-name: move2;
            animation-duration: 10s;
            animation-fill-mode: forwards;
            animation-delay: 5s;
        }
        .ligts{
            background-color: #000;
            position: absolute;
            left: 60%;
            top:-100px;
            border-radius: 10px;
           .red{
               height: 20px;
               width:20px;
               margin: 5px;
               border-radius: 50%;
               animation-name: stop;
               animation-duration: 10s;
               animation-iteration-count: infinite;
           }
           .yellow{
               height: 20px;
               width:20px;
               margin: 5px;
               border-radius: 50%;
               animation-name: ready;
               animation-duration: 10s;
               animation-iteration-count: infinite;
           }
           .green{
               height: 20px;
               width:20px;
               margin: 5px;
               border-radius: 50%;
               animation-name: go;
               animation-duration: 10s; 
               animation-iteration-count: infinite;
           }
        }
    }
}

@keyframes move{
    0%{
       left:0; 
    }
    5%{
       left:5%;
    }
    10%{
        left:10%; 
    }
    15%{
        left:15%; 
    }
    20%{
        left:20%; 
    }
    25%{
        left:25%;
    }
    30%{
        left:30%;
    }
    35%{
        left:35%; 
    }
    40%{
        left:40%; 
    }
    45%{
        left:45%;
    }
    50%{
        left:50%;
    }
    55%{
        left:50%;
    }
    60%{
        left:50%; 
    }
    65%{
        left:50%;
    }
    70%{
        left:50%;
    }
    75%{
        left:50%;
    }
    80%{
        left:50%; 
    }
    85%{
        left:50%; 
    }
    90%{
        left:50%;
    }
    95%{
        left:50%;
        opacity:1;
    }
    100%{
        left:50%;
        opacity: 0;
    }
}

@keyframes move2{
    0%{
        left:50%; 
     }
     5%{
        left:50%;
     }
     10%{
        left:50%;
     }
     15%{
         left:50%; 
     }
     20%{
         left:50%; 
     }
     25%{
         left:50%;
     }
     30%{
         left:50%;
     }
     35%{
         left:50%; 
     }
     40%{
         left:50%; 
     }
     45%{
         left:50%;
         opacity:1;
     }
     50%{
         left:50%;
     }
     55%{
         left:55%;
     }
     60%{
         left:60%; 
     }
     65%{
         left:65%;
     }
     70%{
         left:70%;
     }
     75%{
         left:75%;
     }
     80%{
         left:80%; 
     }
     85%{
         left:85%; 
     }
     90%{
         left:90%;
     }
     95%{
         left:95%;
     }
     100%{
         left:100%;
         opacity: 1;
     }
}


@keyframes stop{
    0%{
        background-color: #ff000080;
        box-shadow: 0px 0px 0px 0px rgba(255,0,0,1);
    }
    10%{
        background-color: #ff000080;
        box-shadow: 0px 0px 0px 0px rgba(255,0,0,1);
    }
    20%{
        background-color: #ff000080;
        box-shadow: 0px 0px 0px 0px rgba(255,0,0,1);
    }
    30%{
        background-color: #ff000080;
        box-shadow: 0px 0px 0px 0px rgba(255,0,0,1);
    }
    40%{
        background-color: #ff000080;
        box-shadow: 0px 0px 0px 0px rgba(255,0,0,1);
    }
    50%{
        background-color: #ff000080;
        box-shadow: 0px 0px 0px 0px rgba(255,0,0,1);
    }
    60%{
        background-color: red;
        -webkit-box-shadow: 0px 0px 29px 14px rgba(255,0,0,1);
        -moz-box-shadow: 0px 0px 29px 14px rgba(255,0,0,1);
        box-shadow: 0px 0px 29px 14px rgba(255,0,0,1);
    }
    70%{
        background-color: red;
        -webkit-box-shadow: 0px 0px 29px 14px rgba(255,0,0,1);
        -moz-box-shadow: 0px 0px 29px 14px rgba(255,0,0,1);
        box-shadow: 0px 0px 29px 14px rgba(255,0,0,1);
    }
    80%{
        background-color: red;
        -webkit-box-shadow: 0px 0px 29px 14px rgba(255,0,0,1);
        -moz-box-shadow: 0px 0px 29px 14px rgba(255,0,0,1);
        box-shadow: 0px 0px 29px 14px rgba(255,0,0,1);
    }
    90%{
        background-color: red;
        -webkit-box-shadow: 0px 0px 29px 14px rgba(255,0,0,1);
        -moz-box-shadow: 0px 0px 29px 14px rgba(255,0,0,1);
        box-shadow: 0px 0px 29px 14px rgba(255,0,0,1);
    }
    100%{
        background-color: red;
        -webkit-box-shadow: 0px 0px 29px 14px rgba(255,0,0,1);
        -moz-box-shadow: 0px 0px 29px 14px rgba(255,0,0,1);
        box-shadow: 0px 0px 29px 14px rgba(255,0,0,1);
    }
}


@keyframes ready{
    0%{
        background-color: #ffff0080;
        box-shadow: 0px 0px 0px 0px rgba(255,255,0,1);
    }
    10%{
        background-color: #ffff0080;
        box-shadow: 0px 0px 0px 0px rgba(255,255,0,1);
    }
    20%{
        background-color: #ffff0080;
        box-shadow: 0px 0px 0px 0px rgba(255,255,0,1);
    }
    30%{
        background-color: #ffff0080;
        box-shadow: 0px 0px 0px 0px rgba(255,255,0,1);
    }
    40%{
        background-color: #ffff0080;
        box-shadow: 0px 0px 0px 0px rgba(255,255,0,1);
    }
    50%{
        background-color: #ffff00;
        -webkit-box-shadow: 0px 0px 29px 14px rgba(255,255,0,1);
        -moz-box-shadow: 0px 0px 29px 14px rgba(255,255,0,1);
        box-shadow: 0px 0px 29px 14px rgba(255,255,0,1);
    }
    60%{
        background-color: #ffff0080;
        box-shadow: 0px 0px 0px 0px rgba(255,255,0,1);
    }
    70%{
        background-color: #ffff0080;
        box-shadow: 0px 0px 0px 0px rgba(255,255,0,1);
    }
    80%{
        background-color: #ffff0080;
        box-shadow: 0px 0px 0px 0px rgba(255,255,0,1);
    }
    90%{
        background-color: #ffff0080;
        box-shadow: 0px 0px 0px 0px rgba(255,255,0,1);
    }
    100%{
        background-color: #ffff0080;
        box-shadow: 0px 0px 0px 0px rgba(255,255,0,1);
    }
}

@keyframes go{
    0%{
        background-color: #008d00;
       -webkit-box-shadow: 0px 0px 29px 14px rgba(0,141,0,1);
       -moz-box-shadow: 0px 0px 29px 14px rgba(0,141,0,1);
       box-shadow: 0px 0px 29px 14px rgba(0,141,0,1);
    }
    10%{
        background-color: #008d00;
       -webkit-box-shadow: 0px 0px 29px 14px rgba(0,141,0,1);
       -moz-box-shadow: 0px 0px 29px 14px rgba(0,141,0,1);
       box-shadow: 0px 0px 29px 14px rgba(0,141,0,1);
    }
    20%{
        background-color: #008d00;
       -webkit-box-shadow: 0px 0px 29px 14px rgba(0,141,0,1);
       -moz-box-shadow: 0px 0px 29px 14px rgba(0,141,0,1);
       box-shadow: 0px 0px 29px 14px rgba(0,141,0,1);
    }
    30%{
        background-color: #008d00;
       -webkit-box-shadow: 0px 0px 29px 14px rgba(0,141,0,1);
       -moz-box-shadow: 0px 0px 29px 14px rgba(0,141,0,1);
       box-shadow: 0px 0px 29px 14px rgba(0,141,0,1);
    }
    40%{
        background-color: #008d00;
       -webkit-box-shadow: 0px 0px 29px 14px rgba(0,141,0,1);
       -moz-box-shadow: 0px 0px 29px 14px rgba(0,141,0,1);
       box-shadow: 0px 0px 29px 14px rgba(0,141,0,1);
    }
    50%{
        background-color: #00800080;
        box-shadow: 0px 0px 0px 0px rgba(0,141,0,1);
    }
    60%{
        background-color: #00800080;
        box-shadow: 0px 0px 0px 0px rgba(0,141,0,1);
    }
    70%{
        background-color: #00800080;
        box-shadow: 0px 0px 0px 0px rgba(0,141,0,1);
    }
    80%{
        background-color: #00800080;
        box-shadow: 0px 0px 0px 0px rgba(0,141,0,1);
    }
    90%{
        background-color: #00800080;
        box-shadow: 0px 0px 0px 0px rgba(0,141,0,1);
    }
    100%{  
        background-color: #00800080;
        box-shadow: 0px 0px 0px 0px rgba(0,141,0,1);
    }
}
